<footer class="bg-dark text-white pt-4">
    <div class="container">
        <div class="row">
        <!-- Première colonne -->
        <div class="col-md-4">
            <h5>À propos</h5>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam scelerisque velit nec dictum.</p>
        </div>

        <!-- Deuxième colonne -->
        <div class="col-md-4">
            <h5>Liens utiles</h5>
            <ul class="list-unstyled">
            <li><a href="#" class="text-white">Accueil</a></li>
            <li><a href="#" class="text-white">Services</a></li>
            <li><a href="#" class="text-white">Contact</a></li>
            <li><a href="#" class="text-white">À propos</a></li>
            </ul>
        </div>

        <!-- Troisième colonne -->
        <div class="col-md-4">
            <h5>Contact</h5>
            <address>
            <strong>Nom de l'entreprise</strong><br>
            123 Rue de Exemple<br>
            75000 Paris, France<br>
            <abbr title="Phone">Tel:</abbr> +33 1 23 45 67 89
            </address>
        </div>
        </div>

        <!-- Bas de page -->
        <div class="text-center py-3">
            <small>&copy; 2024 Votre Entreprise. Tous droits réservés.</small>
        </div>
    </div>
</footer>
